<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Some Website</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <h1>We'll be right back</h1>
    <p>This site is currently under updation</p>
</body>
</html> 